[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
[submodule "components/accel/Adafruit_ADXL345"]
	path = components/accel/Adafruit_ADXL345
	url = https://github.com/adafruit/Adafruit_ADXL345
[submodule "components/accel/Adafruit_Sensor"]
	path = components/accel/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "components/lcd/Adafruit-GFX"]
	path = components/lcd/Adafruit-GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "components/lcd/Adafruit_ILI9341"]
	path = components/lcd/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341
[submodule "components/ioextender/PCF8574_ESP"]
	path = components/ioextender/PCF8574_ESP
	url = https://github.com/WereCatf/PCF8574_ESP.git
[submodule "esp-idf"]
	path = esp-idf
	url = http://github.com/espressif/esp-idf
