[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
